<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/escola/css/base.css">
    <link rel="stylesheet" href="../../static/escola/css/barra_lateral.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <title>Projeto de gestão escolar</title>
</head>

<body>
    <header>
        <img src="../../static/escola/img/logo.png" alt="">
        <p>Sistema de gestão escolar</p>
    </header>
    <main>
        {% include 'escola/barra_lateral.html' %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Sistema de Gestão Escolar – Projeto Desenvolvido para Desafio Técnico 2026.1</p>
    </footer>
</body>

</html>