{% extends 'escola/base.html' %}
{% load static %}

{% block content %}

<section class="cursos-container">

    <h1>Gerenciar matrículas</h1>

    <div class="cursos-top-bar">
        <a class="btn-cadastrar" href="{% url 'cadastrar_matricula' %}">
            Cadastrar matrícula +
        </a>

        <form method="GET" class="search-box">
            <input type="text" name="q" placeholder="Buscar matrícula..." value="{{ request.GET.q }}">
            <button type="submit"><i class="fa-solid fa-search"></i></button>
        </form>
    </div>

    <div class="cursos-card">
        <table>
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Curso</th>
                    <th>Data</th>
                    <th>Status</th>
                    <th class="center">Ações</th>
                </tr>
            </thead>

            <tbody>
                {% for m in matriculas %}
                <tr>
                    <td>{{ m.aluno.nome }}</td>
                    <td>{{ m.curso.nome }}</td>
                    <td>{{ m.data_matricula }}</td>
                    <td>{{ m.status }}</td>

                    <td class="center actions">
                         <a href="{% url 'editar_matricula' m.id %}" class="edit">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a href="{% url 'deletar_matricula' m.id %}" class="delete">
                      
                        </a>
                    </td>
                </tr>

                {% empty %}
                <tr>
                    <td colspan="5" class="center">Nenhuma matrícula encontrada.</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

</section>

{% endblock %}
